body {
  background-color: white;
  text-align: center;
}

.subtitle {
  margin-bottom: 10px;
}

.subhead {
  font-size: 30px;
}

.score-board {
  font-size: 35px;
  border: 5px solid black;
  width: 12%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: -35px;
}

.cvp {
  margin-top: -5px;
}

.score-keeper {
  font-size: 60px;
  margin-top: -45px;
  margin-bottom: -5px;
}

.playing-field {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.options {
  width: 250px;
  height: 250px;
  transition: 0.2s;
}

.options:hover {
  margin-top: -12px;
  cursor: pointer;
}

.match-result > p {
  font-size: 35px;
}
